[submodule "EF-Pluto-DbFirst"]
	path = EF-Pluto-DbFirst
	url = https://github.com/omkarubale/EF-Pluto-DbFirst.git

[submodule "EF-CodeFirstDemo"]
	path = EF-CodeFirstDemo
	url = https://github.com/omkarubale/EF-CodeFirstDemo.git

[submodule "EF-DatabaseFirstDemo"]
	path = EF-DatabaseFirstDemo
	url = https://github.com/omkarubale/EF-DatabaseFirstDemo.git

[submodule "EF-Vidzy"]
	path = EF-Vidzy
	url = https://github.com/omkarubale/EF-Vidzy.git

[submodule "EF-VidzyCodeFirst"]
	path = EF-VidzyCodeFirst
	url = https://github.com/omkarubale/EF-VidzyCodeFirst.git

[submodule "EF-VidzyQuerying"]
	path = EF-VidzyQuerying
	url = https://github.com/omkarubale/EF-VidzyQuerying.git

[submodule "EF-VidzyUpdatingData"]
	path = EF-VidzyUpdatingData
	url = https://github.com/omkarubale/EF-VidzyUpdatingData.git
